/* Base styling */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Make sure content-wrapper is the flex container */
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust this as needed */
  width: 100%; /* Take up full width of the parent container */
}

/* Main container with a background image */
.intro-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  min-height: calc(100vh - 50px - 40px); /* Adjust for navbar and footer */
  margin: 0;
}

/* Semi-transparent overlay for text content */
.content-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  width: 80%;
  max-width: 800px;
}

/* Header styling */
.intro-heading {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

/* Content styling */
.intro-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Image styling within the content */
.main-photo {
  width: 40%; /* Adjust the width as needed */
  height: auto;
  /* You can add margin-right here if needed */
}

/* Text content styling */
.intro-text {
  color: black;
  width: 60%; /* Adjust the width as needed */
  /* Add padding or margin as needed for spacing */
}

/* Footer styling, placing contact info at the bottom */
.intro-footer {
  color: #fff;
  background: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content-overlay {
    width: 95%;
  }

  .intro-content {
    flex-direction: column;
  }

  .main-photo,
  .intro-text {
    max-width: 100%;
  }

  .intro-heading {
    font-size: 2rem;
  }

  .intro-footer {
    position: relative;
  }
}
