.drinking-info {
  text-align: center;
  max-width: 45vw;
  margin: 0 auto;
  overflow: auto;
  max-height: 480px;
  background-image: url("/leaderboard_background.png");
  border: 0.3em double #8271d2;
  border-radius: 6%;
}

.welcome {
  margin: 3%;
  display: flex;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

@media (max-width: 991px) {
  .drinking-info {
    max-width: 90vw;
  }
}
