.dashboard {
  overflow: auto;
  margin-bottom: 2%;
}

.drinking-info {
  text-align: center;
  margin: 0 auto;
  overflow: auto;
  max-height: 480px;
  background: #132539;
  border: 0.3em double #8271d2;
  border-radius: 6%;
}

.welcome {
  margin: 3%;
  display: flex;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

#drinking-info {
  max-width: 45vw;
}

@media (max-width: 991px) {
  .drinking-info {
    max-width: 90vw;
  }
}
