/* General styling for the DrinkingLog container */
.drinking-log-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f6fbff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto; /* Center the log in the middle of the page */
  font-family: "Quicksand", sans-serif;
}

/* Style for the log button */
.log-label {
  padding: 10px 20px;
  margin-bottom: 15px; /* Space between button and date picker */
  font-size: 16px;
  color: #132530;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.log-button:hover {
  background-color: #34495e; /* Slightly lighter blue on hover */
}

/* Style for the date picker */
.react-datepicker-wrapper {
  margin-bottom: 15px; /* Space between date picker and save button */
}

/* Style for the save log button */
.save-log-button {
  margin-top: 1%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #132539; /* Green background */
  color: #f6fbff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.save-log-button:hover {
  background-color: #2ecc71; /* Lighter green on hover */
}

/* If the date picker has inline style, you might need additional custom styles */
.react-datepicker {
  font-size: 0.9rem; /* Adjust the size of the date picker text */
}

/* Adjust the positioning of the alerts if needed */
.alert {
  color: #c0392b; /* Red color for error messages */
  margin-top: 10px; /* Spacing after the date picker or button */
}
