.log-history-scrollable {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
}

.log-entry {
  padding: 8px;
  border-bottom: 1px solid #eaeaea; /* A light separator for each entry */
  color: #000; /* Set text color to black */
}

/* Add a hover effect for each log entry for better interactivity */
.log-entry:hover {
  background-color: #f5f5f5;
}

/* Custom scrollbar for the scrollable area */
.log-history-scrollable::-webkit-scrollbar {
  width: 6px;
}

.log-history-scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.log-history-scrollable::-webkit-scrollbar-thumb {
  background: #888;
}

.log-history-scrollable::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.delete-button {
  color: red;
}

.history-header {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Align children vertically */
  position: relative; /* Needed for absolute positioning of the info button */
  text-align: center; /* Center the text specifically */
}

/* If you have a spacer div, it might not be necessary anymore, depending on your layout */
.header-spacer {
  flex-grow: 1; /* This will push the button to the right */
}

.drinking-history {
  position: relative; /* This makes it the reference for its absolutely positioned children */
  /* Ensure the .drinking-history container fills the height it needs */
}
