/* Content wrapper styling */
.content-wrapper {
  display: flex;
  justify-content: center; /* Center the children */
  align-items: center; /* Vertically align children */
  flex-wrap: wrap; /* Allow the items to wrap as needed */
  margin: 0 auto; /* Center the content wrapper */
  margin-bottom: 1.5%;
  background-color: #f6fbff;
}

/* Adjust if you're using Bootstrap Grid */
.col-lg-6.col-12 {
  flex: 0 0 50%; /* Take up 50% of the parent */
  max-width: 50%; /* Take up 50% of the parent */
}

/* Text content styling */
.intro-text {
  order: -1; /* This will move the text to the left on larger screens */
  color: #132539;
  padding: 10px;
  font-size: large;
  font-family: "Quicksand", sans-serif;
}

.instruction-text {
  order: -1; /* This will move the text to the left on larger screens */
  color: #132539;
  padding: 10px;
  font-size: large;
  font-family: "Quicksand", sans-serif;
}

/* Main photo styling */
.main-photo {
  order: 1;
}

/* Main container with a background image */
.intro-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Adjust to flex-start to align content to the top */
  align-items: center;
  color: #fff;
  min-height: calc(100vh - 50px - 40px); /* Adjust for navbar and footer */
  margin: 0;
  padding-top: 5%; /* Add padding at the top to push the content down */
}

/* Header styling */
.intro-heading {
  color: #132539;
  font-size: 48px;
  font-weight: bold;
  font-family: "Euphoria Script", cursive;
}

/* Content styling */
.intro-content {
  background-color: #f6fbff;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-template-rows: auto 1fr;
  border-radius: 10px;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.row {
  padding: 0;
}

/* Main photo card styling */
.main-photo {
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adds a subtle shadow around the image */
  border-radius: 10px; /* Rounds the corners of the image */
  overflow: hidden; /* Ensures the image corners are rounded */
  margin: 0;
}

.navigation {
  color: #d35400;
  text-decoration: underline;
}

.navigation:hover {
  color: #ea9861;
}

.contact {
  position: absolute; /* Keeps the contact info at the bottom */
  bottom: 0; /* Anchors the contact info to the bottom */
  left: 0; /* Anchors the contact info to the left */
  width: 100%; /* Span the full width */
  color: #132539;
  padding: 10px 0;
  text-align: center;
  z-index: 2;
  background-color: #aacfd0;
  font-family: "Quicksand", sans-serif;
}
