/* Align the form to the center of the page */
.login-container {
  width: 100%;
  max-width: 320px;
  margin: 50px auto;
  margin-top: 8%;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-header {
  color: #000;
}

.login-error {
  color: red;
}

/* Style the form header */
.login-form h2 {
  margin-bottom: 20px;
  color: #5f9ea0;
}

/* Style form labels and inputs */
.login-form label {
  margin-bottom: 5px;
  display: block;
  color: #666;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  background-color: beige;
  border-radius: 4px;
  color: black;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Style the submit button */
.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #5f9ea0;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #4f8e90;
}

/* Style the dropdown */
.login-form select {
  background-color: rgba(255, 255, 255, 0.664);
  color: black;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .login-container {
    padding: 15px;
  }
}
