/* Align the form to the center of the page */
.login-container {
  width: 100%;
  max-width: 320px;
  margin: 50px auto;
  margin-top: 8%;
  padding: 20px;
  background: #f6fbff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #132539;
}

.login-header {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Align children vertically */
  position: relative; /* Needed for absolute positioning of the info button */
  text-align: center; /* Center the text specifically */
}

.login-error {
  color: red;
}

/* Style the form header */
.login-form h2 {
  margin-bottom: 20px;
  color: #5f9ea0;
}

/* Style form labels and inputs */
.login-form label {
  margin-bottom: 5px;
  display: block;
  color: #132539;
}

.login-title {
  color: #132539;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #132539;
  border-radius: 4px;
  color: #132539;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.login-form select {
  background-color: #b2b9c1;
}

/* Style the submit button */
.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #132539;
  color: #f6fbff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1.5%;
}

.login-form button:hover {
  background-color: #132539;
}

/* Style the dropdown */
.login-form select {
  background-color: rgba(255, 255, 255, 0.664);
  color: #132539;
}

.navigation-message {
  color: #132539;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .login-container {
    padding: 15px;
  }
}
