nav {
  background-color: #132539; /* Dark background for contrast */
  padding: 15px 20px; /* Increase padding for a larger navbar */
  border-bottom: 3px solid #555; /* Add a border for definition */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 30px; /* Increase spacing between nav items */
}

nav a,
.nav-brand {
  text-decoration: none;
  color: white; /* Light text for contrast */
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: color 0.3s;
}

nav a:hover,
#logo:hover {
  color: #f6fbff; /* Light grey for hover effect */
}

.nav-item {
  margin-right: 2%;
}

.nav-item a {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#logo {
  color: white;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  nav ul {
    justify-content: space-around; /* Adjust nav item spacing on smaller screens */
  }

  nav li {
    margin-left: 10px; /* Reduce margin on smaller screens */
  }
}
