.register-error {
  color: #ff0000;
}

.register-header {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Align children vertically */
  position: relative; /* Needed for absolute positioning of the info button */
  text-align: center; /* Center the text specifically */
}

.register-title {
  color: #132539;
  font-family: "Play", sans-serif;
}

/* Align the form to the center of the page */
.register-container {
  width: 100%;
  max-width: 320px;
  margin: 50px auto;
  margin-top: 8%;
  padding: 20px;
  background: #f6fbff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Quicksand", sans-serif;
}

/* Style form labels and inputs */
.register-form label {
  margin-bottom: 5px;
  display: block;
  color: #132539;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #132539;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Style the submit button */
.register-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #132539;
  color: #f6fbff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1.5%;
}

.register-form button:hover {
  background-color: #4f8e90;
}

.navigation-message {
  color: #132539;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .register-container {
    padding: 15px;
  }
}
