.welcome-container {
  background-color: rgba(18, 4, 44, 0.4); /* Dark background color */
  color: #fff; /* White text color */
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: 60vw;
  max-width: 75vw;
}

.welcome-message {
  font-size: 24px;
  margin: 10px;
}

.welcome-username {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Adjust this margin to control the space between the username and the message */
.welcome-username + .welcome-message {
  margin-top: 10px;
}

@media (max-width: 991px) {
  .welcome-container {
    width: 90vw;
    max-width: 90vw;
  }
}
