.welcome-container {
  color: #132539;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin: 20px 0;
  width: 60vw;
  max-width: 75vw;
}

.welcome-message {
  font-size: 28px;
  margin: 10px;
  font-family: "Quicksand", sans-serif;
}

.welcome-username {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Play", sans-serif;
}

.streak-days {
  color: #d35400; /* Set the color to red */
  font-weight: bolder;
  margin: 0 5px; /* Add horizontal margin for spacing */
  font-family: "Play", sans-serif;
}

/* Adjust this margin to control the space between the username and the message */
.welcome-username + .welcome-message {
  margin-top: 10px;
}

@media (max-width: 991px) {
  .welcome-container {
    width: 90vw;
    max-width: 90vw;
  }
}
